@page
@model ResetPasswordModel
<div class="mud-container mud-container-maxwidth-sm mt-6">
    <div class="mud-paper mud-elevation-4 mud-grid mud-grid-spacing-xs-3 mud-grid-justify-xs-flex-start">

        <div class="mud-card mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12">
          
            <!--Reset Password form-->
            <form id="reset-password" method="post">
                <h2>Reset your password</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />

                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <button id="registerSubmit" type="submit" 
                        class="mud-button-root mud-button mud-button-filled mud-button-filled-primary 
                        mud-button-filled-size-medium mud-ripple mud-width-full ml-auto">
                        Reset
                    </button>
                </div>               
            </form>
        </div>

    </div>
</div>

