@page "/fetchdata"
@using Sample.Blazor.App
@using Samples.Blazor.App.Services
@attribute [Authorize(Policy = "ReadWeatherDataPolicy")]

<AuthorizeView>
    <Authorized>
        <PageTitle>Weather forecast</PageTitle>

        <h1>Weather forecast</h1>

        <p>This component demonstrates fetching data from the server.</p>

        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>


@code {
    private IEnumerable<WeatherForecast> forecasts;

    [Inject]
    IWeatherService weatherService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        forecasts = await weatherService.GetAllAsync();
    }
}
